/* line 1, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\000031}}
body {
  padding-top: 70px;
  /*    ul.tree.tasklist.list-group{
        li.list-group-item{
            a.btn-info, a.btn-primary{
                margin-bottom: 15px;
                @media(min-width: 768px){
                    margin-bottom: inherit;
                }
            }
        }
    }    */
}
/* line 4, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\000034}}
body h1 {
  font-size: 1.8em;
}
/* line 11, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000311}}
body ul.tree > li a {
  /*margin-top: 15px;*/
}
@media (min-width: 992px) {
  /* line 12, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000312}}
  body ul.tree > li a {
    font-weight: bold;
  }
}
/* line 18, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000318}}
body ul.tree > li:first {
  margin-top: inherit;
}
/* line 23, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000323}}
body ul.tree,
body ul.tree ul {
  list-style-type: none;
  padding-left: 5px;
}
/* line 28, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000328}}
body ul.tree li.active > a,
body ul.tree ul li.active > a {
  font-weight: bold;
}
/* line 35, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000335}}
body ul.tree ul li a {
  margin-top: 5px;
}
/* line 38, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000338}}
body ul.tree ul li a:before {
  content: "\25b6 \00a0";
  color: white;
}
/* line 44, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000344}}
body ul.tree ul li.active > a:before {
  color: red;
}
/* line 51, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000351}}
body aside {
  overflow: hidden;
}
/* line 56, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000356}}
body main a.btn {
  margin-right: 15px;
}
/* line 62, C:\Users\Nyan\Documents\NetBeansProjects\taskmaster\app\webroot\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Nyan\/Documents\/NetBeansProjects\/taskmaster\/app\/webroot\/less\/style\.less}line{font-family:\0000362}}
body div.checkbox input[type="checkbox"] {
  margin-left: 0;
}
